body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 65px;
}

button {
    color: white;
    background-color: #FF5959;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 20px;
}

.banner-section {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px;
}